/* For mobile phones: */

html, body {
  height: 100%;
  margin: 0;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#zero, #one, #two {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center; 
	position: fixed;
	width:100%;
	top:0;
	left:0; 
	
}



.hide-on-mobile {
	display:none;
}


/* hero section */

#zero {
	z-index: 7; 
	color: #F57360;
}


.content-container .title, .start-of-sentence {
	font-size: 1.1em;
}



section .content-container {
	width: 75%;
	z-index: 2;
}



#what-is-apprenta {
	border-bottom: 1px solid #F57360;
	/*background: blue; */
	width: 100%;
	min-height: 1.8em;
	padding: 20px 0px 0px 0px;
	font-size: 1.5em;
	font-weight: 600; 
}

.content-text {
	color: #333;
	width: 100%;
	min-height: 1.8em;
	padding: 20px 0px 0px 0px;
	font-size: 1.2em;
}

.content {
	font-size: 2.2em;
	width: 70%;
	z-index: 100;
}

.content .title {
	font-size: .8em;
	margin-bottom: 1em;
}

.content-container .title {
	font-weight: 800; 
}



#one {
	opacity: 0;
	top:0;
	left:0; 
	z-index: 10; 
}

#one .content-container {
	opacity: 0; 
}


#two {
	background-color: white; 
	opacity: 0; 
	position: fixed;
	width:100%;
	height: 100%;
	top:0;
	left:0; 
	z-index: 19; 
}


#three {

	padding: 90px 70px;
	display: block;
	background-color: white; 
	opacity: 0; 
	width:100%;
	z-index: 21; 
}



#large-background {
	position: relative;
}

.letter {
	position: absolute;
	font-size: 14em;
	color: red;
	line-height: 1;
	font-family: Montserrat; 
}

.pink {
	color: #F57360;
}

.blue {
	color: #58A4B0;
}

#letter1 {
	top: 10%;
	left:-4%;
}

#letter2 {
	left:50%;
	top:24%;
}

#letter3 {
	left: 15%;
	bottom:10%;
}

#letter4 {
	left: 45%;
	bottom:10%;
}

#letter5 {
	right: 0%;
	bottom:10%;
}



/* Screen 2 */

	#letter10 {
		top: 20%;
		left:-5%;
	}

	#letter11 {
		top:10%;
		right:30%;
	}

	#letter12 {
		right: 10%;
		bottom:15%;
	}





/* form */




form li {
	list-style: none; 
}



.work-option {
	border: 2px solid #58A4B0;
	padding: 15px 40px;
	width: 100%;
	text-align: center; 
	color: #58A4B0;
	cursor: pointer; 
	margin: 10px auto 0px auto;
}


.selected {
	background-color: #58A4B0; 
	color: white;
}

.form-checkbox-item {
	display:none;
}




input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



.form-submit-button {
	border: 2px solid #58A4B0;
	padding: 15px 85px;
	text-align: center; 
	color: #58A4B0;
	cursor: pointer; 
	background-color: #58A4B0; 
	color: white;
	letter-spacing: 1px;
	font-size:1em;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  font-size: 1.3em;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  font-size: 1.3em;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
  font-size: 1.3em;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
  font-size: 1.3em;
}



.black {
	color: #4A4A4A;
}


#three .form-title {
	font-size: 2.7em;
	color: #58A4B0;
	font-weight: 600; 
}

.jotform-form {
	margin-top: 30px;
}

.jotform-form ul {
	padding: 0px;
} 

.work-options-container {
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
}




li.form-line {
	margin-top: 80px;
}

.name-input {
	width: 100%;
}

.email-input {
	width: 100%;
}

.form-input-wide input {
	width:100%;
	padding-bottom: 20px;
	font-size:.9em;
	outline: none;
	border: 0px;
	border-radius: 0px;
}

input[type=text], input[type=email] {
	border:0px;
	border-bottom: 1px solid black;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	padding-bottom: 6px;
}


.project-details {
	width: 100%;
	/*min-width: 600px;*/
}

.clear-fix {
	clear:both;
}

#page-indicator {
		height: 45%;
		width: 1px;
		background-color: #F57360; 
		position: fixed;
		top: 90%;
		left: 20%;
		z-index: 30; 
		opacity: 1; 
}




/*****************************************************
 *  Desktop only 
 *****************************************************/


@media only screen and (min-width: 600px) {
    /* For desktop: */

    html, body {
      height: 100%;
      margin: 0;
      font-size: 16px;
    }

    

    .hide-on-mobile {
    	display:inline;
    }


	section .content-container {
		width: 50%;
	}

	

	.content-container .title, .start-of-sentence {
		font-size: 1.3em;
	}

	.content-text {
		color: #333;
		min-height: 1.8em;
		padding: 20px 0px 0px 0px;
		font-size: 2.2em;
	}



	#what-is-apprenta {
		min-height: 1.8em;
		padding: 20px 0px 0px 0px;
		font-size: 2.5em;
	}


	.letter {
		position: absolute;
		font-size: 22em;
		line-height: 1;
	}


	/* Screen 1 */

	#letter1 {
		top: -17%;
		left:-4%;
	}

	#letter2 {
		left:50%;
		top:-8%;
	}

	#letter3 {
		right: 41%;
		bottom:-5%;
	}

	#letter4 {
		right: 25%;
		bottom:-5%;
	}

	#letter5 {
		right: 2%;
		bottom:-5%;
	}


	/* Screen 2 */

	#letter10 {
		top: -10%;
		left:-4%;
	}

	#letter11 {
		top:-8%;
		right:30%;
	}

	#letter12 {
		right: 10%;
		bottom:-5%;
	}



	#page-indicator {
			width: 2px;
	}



	
	section {
		min-height: 600px;
	}



	
/*
	#zero-transition-one-bg {
		background: blue; 
	}
*/


	.work-option {
		width: auto;
		margin: 20px 15px 0px 0px;
	}


	.form-input-wide input {
		width:100%;
		padding-bottom: 10px;
		font-size:.9em;
	}


	.name-input {
		width: 40%;
		min-width: 300px;
		margin-right:100px;
		float:left;
	}

	.email-input {
		width: 40%;
		min-width: 300px;
		float: left;
		
	}

	
	.project-details {
		width: 85%;
		min-width: 600px;
	}


	.form-input-wide input {
		padding-bottom: 10px;	
	}


    
}


